.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title.pull-left Tag Info
  .list-group
    .list-group-item
      %p.list-group-item-text Title
      %h4.list-group-item-heading= tag.title
    .list-group-item
      %p.list-group-item-text Description
      %h4.list-group-item-heading= tag.description
    .list-group-item
      %p.list-group-item-text Created
      %h4.list-group-item-heading= tag.created_at
    .list-group-item
      %p.list-group-item-text Last Updated
      %h4.list-group-item-heading= tag.updated_at
    
    